[2015-06-28 13:51] Nonlimit opened #1 "Tag"
Default Atom have Suntax Them - One Dark, when you click on tag he have backlight and solid underline like on screenshot, please create this on your Material Syntax.
![tag](https://cloud.githubusercontent.com/assets/11960153/8396599/d2832cbe-1db5-11e5-9c28-f4a7045780af.PNG)

[2015-06-28 20:13] silvestreh commented on #1
Done! Check for updates.

[2015-06-28 20:13] #1 closed

[2015-06-29 07:06] Nonlimit commented on #1
Thank)

[2015-07-08 20:56] bbhenry opened #2 "Can you add support for Markdown highlighting?"
I really love your theme. And as I switch the syntax to markdown, I am not seeing any hightlights.

[2015-07-08 22:02] silvestreh commented on #2
Sure!

[2015-07-09 00:22] silvestreh commented on #2
Done! Should be available in 0.2.0.

[2015-07-09 00:22] #2 closed

[2015-07-09 03:58] krrg opened #3 "Multiple parameter functions are miscolored"
In version 0.1.2, parameters were uniformly colored, for instance:
<img width="536" alt="screen shot 2015-07-08 at 9 56 56 pm" src="https://cloud.githubusercontent.com/assets/8496492/8587685/8bc3de18-25bc-11e5-8698-329d91747930.png">

In version 0.2.0, the first parameter is colored, but the rest are still white:
<img width="536" alt="screen shot 2015-07-08 at 9 57 52 pm" src="https://cloud.github

[2015-07-10 15:36] alexbeletsky commented on #3
Having the same problem. Looks quite annoying, would be great to fix it.

@krrg can you please explain how you downgraded to the previous version?

[2015-07-11 12:18] silvestreh commented on #3
Should be fixed now! Sorry about that.

[2015-07-11 12:18] #3 closed

[2015-07-13 15:25] krrg commented on #3
Looks good, thanks @silvestreh

@alexbeletsky  --- to downgrade to a specific version, I used the `apm` command line tool (it should be installed as part of atom).

    apm remove atom-material-syntax
    apm install atom-material-syntax@0.1.2

The latest update fixes the issue, so you (hopefully) won't need to downgrade.

[2015-07-20 20:05] Nxt3 opened #5 "Background color of ui is altered with this syntax theme applied"
[This is what Atom looks like if I apply both this syntax and your ui-them](http://i.imgur.com/vkm6gD6.png).

I don't think this is correct, considering your screenshot shows it up having a gray background. Not sure what's going on.

[2015-07-20 21:36] silvestreh commented on #5
That looks right. I probably had the `contrasting panels` option enabled when I took the screenshot.

[2015-07-22 17:11] Nxt3 commented on #5
Ah, gotcha. Thank you!

[2015-07-25 14:15] #5 closed

[2015-08-04 10:11] stefan-kern opened #6 "atom-material-syntax-light variation"
it would be nice to have a light version of the syntax, similar to the sublime version.

[2015-08-06 08:32] arunkpatra opened #7 "Images not available while using atom-material-ui and atom-material-syntax themes"
Images not available while using atom-material-ui and atom-material-syntax themes.
![images-not-available](https://cloud.githubusercontent.com/assets/2806069/9107283/b2c5111a-3c43-11e5-8941-ae35b9a6e98d.png)

[2015-08-06 15:55] silvestreh commented on #7
Not related to the syntax theme. Also, the UI theme only modifies the styles, not DOM elements. I've had this happen to me a few times and attributed it to network issues.

[2015-08-07 18:18] gdborton commented on #7
@silvestreh I think this is related to the image paths.  Looks like relative paths don't work on atom.io... probably not in the editor either.

https://atom.io/themes/monokai  <-- working
https://atom.io/themes/atom-material-syntax <-- not working

[2015-08-07 21:43] silvestreh commented on #7
Yeah, I noticed that. That happens when referencing an image from within the repository. I think it's extremely low priority, that's why it's still broken.

[2015-08-12 06:50] PetrKaleta opened #8 "Almost invisible comments in 0.2.2"
I've just updated to 0.2.2 and all comments are almost invisible, please have a look

![screen shot 2015-08-12 at 08 49 36](https://cloud.githubusercontent.com/assets/282588/9218036/1be47552-40cf-11e5-905e-44b944f0053c.png)

[2015-08-12 07:56] visualcookie commented on #6
:+1:

[2015-08-12 07:57] visualcookie commented on #8
Discovered this too.

[2015-08-12 15:25] #8 closed

[2015-08-12 21:28] silvestreh commented on #6
[Here you go](https://atom.io/packages/atom-material-syntax-light).

[2015-08-12 21:28] #6 closed

[2015-08-17 15:11] theproducer opened #9 "atom-material-syntax-dark variation"
There is also a dark variation of the original Sublime theme that would be nice to have:
![](https://camo.githubusercontent.com/3e08a97d754fc56dc8ea55cab6047e250ad29d38/687474703a2f2f657175696e75736f63696f2e6769746875622e696f2f6d6174657269616c2d7468656d652f6173736574732f696d672f6461726b6572312e706e67)

[2015-08-17 17:59] Nonlimit opened #10 "Stylus"
Please, add syntax highlighting for stylus..

[2015-08-17 19:32] silvestreh commented on #10
While the syntax theme could use some love for Stylus files, you still need a package to enable syntax hilighting for it. AFAIK, Atom doesn't include one out of the box. I can recommend you [this one](https://atom.io/packages/Stylus) if you don't already have one.

The problem is that I only want to support an official Atom package for Stylus syntax highlighting, otherwise I would probably end up

[2015-08-17 19:41] silvestreh commented on #9
This would require an entire new Atom package. I'll probably resolve this in the UI package with a setting for a darker background.

I'll close this issue as it doesn't have a place in this repository, but I'll add the feature, don't worry!

[2015-08-17 19:41] #9 closed

[2015-08-17 19:42] silvestreh commented on #7
@arunkpatra @gdborton Looks like Atom caches those images and then fails to load them from the cache. This, I believe, is not a problem with the syntax theme.

[2015-08-17 19:42] #7 closed

[2015-08-17 20:36] theproducer commented on #9
Cool, looking forward to it!

[2015-08-22 12:17] hanslowinc opened #11 "Atom Material dark syntax graphical issue: "Use shadow DOM""
![capture](https://cloud.githubusercontent.com/assets/3399497/9419434/a6ef7b90-4829-11e5-9684-6f133a2e8e79.PNG)
![capture1](https://cloud.githubusercontent.com/assets/3399497/9419435/a6fff3b2-4829-11e5-9b09-ccdf08c87ecf.PNG)

That white line disappears when I turn off "Use Shadow DOM". Other themes don't have this issue.
Only occurs when using material dark syntax.

[2015-08-22 14:53] #11 closed

[2015-08-22 19:31] GGG-KILLER opened #13 "PHP Styling *possible* Fail"
When using Atom Material Syntax on PHP files, the variables' names have a red color, but the $ that indicates that they are a variable don't(as on Base 16 Tomorrow Dark) I'm not sure if this was on purpose or not, but it makes everything more confusing when programming.

Atom Material Syntax:
![Material Syntax](http://puu.sh/jKJ7v.png)

Base 16 Tomorrow Dark:
![Base 16 Tomorrow Dark](http://puu.sh

[2015-08-28 02:55] shaungrady opened #14 "Text selection highlight difficult to see"
Especially on light green text. Can it be lightened?

![image](https://cloud.githubusercontent.com/assets/52413/9538089/7e733686-4cf5-11e5-8235-ad12a5407436.png)

[2015-09-16 18:56] #13 closed

[2015-09-17 07:56] Phisherman opened #15 "Tables in markdown preview will be affected"
If I use this syntax theme, the markdown preview's table header will be affected.
![](http://share.phishy.de/kK-gJZ9Ncfb03054a5625c56aa40e44685da0e0d.png)

I use atom-material-syntax version `0.2.3`.

There is the following rule who change the background color but it doesn't change the font color.
[code]

[2015-10-14 23:30] MohhamedRafi opened #16 "Dark Version"
Is there any plan on creating a dark version of this theme (sublime text port maybe +1)

[2015-10-15 00:49] silvestreh commented on #16
Sure, I don't see why not. It would be in a different repository though.

[2015-10-15 17:52] MohhamedRafi commented on #16
I don`t know if I should put this here but do you know how to change the scale of editor. Everything look to zoomed in. If you know to how to fix this or add a fix to the dark version it would be +1

[2015-10-23 01:34] xplusplus opened #17 "Uncaught TyperError: Cannot read property 'pixelPositionForMouseEvent' of null"
Repo Steps

1. Alt+Click on a line of text. It reliably repro'd but only on one particular cpp file and it went away after I closed and reopened the file. It's a minimal error: no crash, no unexpected behavior, just the uncaught exception. Stack trace is below.

**Atom Version**: 1.0.19
**System**: Microsoft Windows Server 2012 R2 Datacenter
**Thrown From**: [atom-material-syntax](https://github.c

[2015-10-23 14:11] silvestreh commented on #17
This theme contains no logic. It's just a bunch of stylesheets. Are you sure you don't have some other package trying to do something on that click event?

[2015-10-23 17:19] xplusplus commented on #17
It looks like this package is the cause: https://atom.io/packages/Sublime-Style-Column-Selection. I'll follow up with them.

[2015-10-23 22:54] silvestreh commented on #17
Yup, that package looks like the culprit :smile:

Cheers!

[2015-10-23 22:54] #17 closed

[2015-11-19 12:17] MrAndrewSaint commented on #16
+1
I find that the dark version is more aesthetically pleasing.

[2015-11-19 16:16] equinusocio commented on #16
:+1:

[2015-11-24 03:27] silvestreh commented on #16
Yes, I will convert @equinusocio's dark syntax theme. I'm rewriting the UI theme right now, getting rid of all the inherited baggage from Atom Dark (the theme I forked.) It'll take some time :smile:

[2015-11-24 15:49] MohhamedRafi commented on #16
I thought you guys forked @equinusocio theme originally.

[2015-11-24 16:37] silvestreh commented on #16
@MohhamedRafi not exactly, no. Both themes share the same visual language and the Atom theme is based off of @equinusocio's vision for a MD text editor, but they don't share a single line of code so. technically speaking, it's not a fork.

[2015-11-24 17:18] equinusocio commented on #16
...and because Atom and Sublime Text are text editors developed on two different languages. :+1:

[2015-12-01 02:50] Mocha-- opened #19 "sidebar opened projects"
When I add a new project folder, the previous ones go invisible. When I remove the current project folder, the previous one goes visible, which is like pushing those folders into a stack. However, I think this really upsets me because it costs me a lot of time to switch between projects(I have to add and remove ......).

[2015-12-01 02:54] silvestreh commented on #19
I see… I'll push a fix ASAP. Thanks!

[2015-12-01 02:56] Mocha-- commented on #19
At the very beginning, I thought it was my config issue. lol.

Material is my best theme for ATOM and Sublime.

Thanks,

Silvestre Herrera <notifications@github.com>于2015年12月1日周二 下午1:54写道：

[2015-12-10 17:45] stretchtiberius opened #20 "Changelog is out of date"
The changelog.md only has notes for version 0.1.0

[2015-12-10 17:59] silvestreh commented on #20
Yeah, that one was generated by `APM`. I never tracked changes in there. I might as well delete it, unless there's an automatic way of adding stuff from commit messages.

I can see how changelogs are useful, I just suck at keeping them updated.

[2015-12-10 18:01] silvestreh commented on #19
@Mocha-- this was an issue with the UI theme (with the 1.0 release in particular). 1.0 was unpublished, you should either downgrade to 0.8.0 (just by reinstalling the theme) or you're welcome to test the development version in the repository.

[2015-12-11 02:25] stretchtiberius commented on #20
Deleting it may be better than having it be out of date. That way it does not show up as a link within atom.

[2015-12-11 15:27] silvestreh commented on #20
Will do. Thanks for pointing this up :smile:

[2015-12-24 18:40] #20 closed

[2015-12-24 18:42] silvestreh commented on #19
This has been fixed in the development version. You can find instructions on how to install it in the [https://github.com/silvestreh/atom-material-ui/blob/master/README.md#contributing](contributing section of the readme file).

[2015-12-24 18:42] #19 closed

[2015-12-24 18:44] silvestreh commented on #16
[Done!](https://github.com/silvestreh/atom-material-syntax-dark)

[2015-12-24 18:44] #16 closed

[2015-12-24 19:03] MrASaint commented on #16
Awesome Christmas present, thank you :)

[2015-12-24 20:10] equinusocio commented on #16
:+1:

[2015-12-24 20:15] equinusocio commented on #16
This is a good UX with atom. ;)
![screen shot 2015-12-24 at 21 14 25](https://cloud.githubusercontent.com/assets/10454741/11997713/5969689c-aa83-11e5-833d-98350c5b0906.png)

[2015-12-24 21:44] MohhamedRafi commented on #16
This look nice! :)

[2016-01-04 19:59] AlexanderKozhevin opened #21 "CoffeeScript & SCSS highlights looks weird."
![screen shot 2016-01-04 at 22 57 19](https://cloud.githubusercontent.com/assets/4464561/12099013/cb9aa3b6-b336-11e5-882c-03b1c6bd0473.png)
![screen shot 2016-01-04 at 22 57 59](https://cloud.githubusercontent.com/assets/4464561/12099014/cbcbdfbc-b336-11e5-99da-5c4048762c25.png)

[2016-01-13 16:07] Nonlimit opened #22 "attr class and other"
![capture](https://cloud.githubusercontent.com/assets/11960153/12299448/778b661c-ba1f-11e5-8710-6da7cad87fe3.PNG)
Please change color class and other.You have the same color, and because of this all spreads.
Example Syntax Atom One Dark
![capture](https://cloud.githubusercontent.com/assets/11960153/12299585/f1b8d88e-ba1f-11e5-9c59-f3ee957aeda9.PNG)
I think this is looks better

[2016-01-13 16:50] equinusocio commented on #22
Provide more details or i will close the issue. Thanks

[2016-01-13 17:36] silvestreh commented on #22
@equinusocio I believe he means that HTML attributes and their associated values have the same color. Probably something APM missed while converting your theme.

[2016-01-13 17:51] equinusocio commented on #22
You have this issue?

[2016-01-13 17:52] silvestreh commented on #22
yep, while using the default syntax variant (that means, not the light or dark one)…

[2016-01-23 13:39] ddagone opened #23 "Can't install"
I can't find it on the Atom software package search tool,
And how am I supposed to install it ?

[2016-01-23 16:38] silvestreh commented on #23
It's there.
![captura de pantalla 2016-01-23 a las 13 36 26](https://cloud.githubusercontent.com/assets/1133339/12531331/7a4eff08-c1d6-11e5-914b-46b3b9b9a501.png)

Alternatively, you can use your command line to install it: `apm install atom-material-syntax`

[2016-01-23 16:38] #23 closed

[2016-01-23 19:02] ddagone commented on #23
i'm sorry but I can't handle it, I installed it via the command line, but
It doesn't show up in atom, when you choose a  syntax theme
I have the atom-material theme installed too maybe it's the reason why it
doesn't show up ?
Best regards

2016-01-23 17:38 GMT+01:00 Silvestre Herrera <notifications@github.com>:

[2016-01-23 19:33] silvestreh commented on #23
Did you restart Atom after installing from the command line? If so, then you might have an issue with your Atom install.

[2016-01-23 19:47] ddagone commented on #23
Yes! I did, but still nothing, I'll keep trying
yeah, It's probably my fault, but good job, are you designer ?

Le samedi 23 janvier 2016, Silvestre Herrera <notifications@github.com> a
écrit :

[2016-01-28 17:40] rjv opened #24 "Settings pane has inverted background coloring"
After updating to v0.3.0, the settings pane has an entirely white background. I'm using the standard Atom Material UI theme and syntax theme.

![20160128_123800_screenshot](https://cloud.githubusercontent.com/assets/532439/12653174/46b0b5bc-c5bc-11e5-8bf6-821b2de1b691.png)

[2016-01-28 17:47] silvestreh commented on #24
That's an interesting one… it's probably related to the UI theme as `0.8.0` doesn't explicitly define a background color for the settings panes.

I know this was introduced with the latest release (which I probably shouldn't have pushed). I changed a few things to make the syntax theme play better with the development version of the UI theme.

I decided to no longer support the UI theme `0.8.0` as

[2016-01-28 18:20] silvestreh commented on #24
Just pushed an updated UI theme to APM that solves this issue. Version bumped to `0.8.1`.

[2016-01-28 18:20] #24 closed

[2016-01-28 18:34] rjv commented on #24
Thanks for the quick turn-around! I'm happy to help test the new version once I get on a PC that isn't mission critical.

[2016-01-28 21:30] eramdam opened #25 "New releases make One Dark UI ugly"
The Settings' UI have become unreadable with the last releases of the dark and regular syntax.

![screen shot 2016-01-28 at 1 29 14 pm](https://cloud.githubusercontent.com/assets/1409924/12659342/2b8f74b0-c5c3-11e5-9aae-b228d604dcfe.png)
![screen shot 2016-01-28 at 1 29 17 pm](https://cloud.githubusercontent.com/assets/1409924/12659343/2b96dbb0-c5c3-11e5-86f0-d84dc83f0f41.png)

[2016-01-28 21:30] eramdam commented on #25
The issue is also visible with Nucleus Dark which is also adapting depending on the syntax theme

[2016-01-29 00:34] silvestreh commented on #25
Just reverted the latest changes. They were meant to be used with Material UI, but apparently were not specific enough to avoid breaking other stuff.

[2016-01-29 00:34] #25 closed

[2016-01-29 07:25] andi1984 commented on #14
:+1: Pls use some high-contrast highlighting colors.

[2016-01-29 16:21] silvestreh commented on #21
What's weird about these? Please elaborate or I'll have to close the issue.

[2016-01-29 16:25] silvestreh commented on #15
This is how tables look like.

![captura de pantalla 2016-01-29 a las 13 24 56](https://cloud.githubusercontent.com/assets/1133339/12681105/bd32e06e-c68b-11e5-856e-b106cd84b115.png)

Care to share some more details? What UI theme are you using?

[2016-01-29 16:29] Phisherman commented on #15
It's now 4 months ago. You can close this issue if you want. I don't use ATOM anymore.

[2016-01-29 16:32] #15 closed

[2016-01-29 16:33] #14 closed

[2016-01-29 16:33] #22 closed

[2016-01-30 06:25] WoodyWoodsta opened #26 "Selecting text causes line highlight to disappear"
Not entirely sure if this is intended or not, but when you select the text, the current line highlight disappears. Seems a little strange to me.

No text selected:
![withoutselection](https://cloud.githubusercontent.com/assets/8268040/12694125/ec95ca2a-c72a-11e5-9093-af62b11567bc.png)

Text selected:
![withselection](https://cloud.githubusercontent.com/assets/8268040/12694126/eeee05ee-c72a-11e5-8e

[2016-01-30 08:32] #21 closed

[2016-01-30 22:08] silvestreh commented on #26
Yes, this is expected behavior. It's how Atom works.

[2016-01-30 22:08] #26 closed

[2016-01-31 07:50] WoodyWoodsta commented on #26
Sorry about that. I probably should have checked a different syntax theme before posting!

[2016-01-31 08:32] D1SC0tech opened #27 "JavaScript variables and brackets are colored incorrectly"
Here's what a block of JavaScript looks like with atom-material-syntax (dark):

![screen shot 2016-01-31 at 02 11 05](https://cloud.githubusercontent.com/assets/3586264/12701058/940a5aa0-c7c1-11e5-9a0d-a15236573656.png)

And here's what the same code looks like with One Dark syntax:

![screen shot 2016-01-31 at 02 11 21](https://cloud.githubusercontent.com/assets/3586264/12701060/a86a65da-c7c1-11e

[2016-01-31 14:00] silvestreh commented on #26
It's ok. Issues are always welcome 😉

[2016-02-08 20:52] chifreaigle commented on #27
Yeah i noticed that, "(" should be in an other color

[2016-02-10 02:09] #27 closed

[2016-02-10 07:33] pyvim opened #29 "Add changelog."
Of course, but I don't like search commits for find what is changed. Please, add it.

[2016-02-13 06:45] ryanjcain opened #30 "Python Method Highlighting"
Hey Man!

Keep up the great work! This is by far the best syntax theme on atom!  I recently updated to the newest version of this theme and it does not highlight .methods() in python like it used to.  It makes parts of my code hard to read and was wondering if there is any way you could bring this back!  Thank you!

-Ryan

[2016-02-16 15:40] simon-lifelike commented on #30
Same issue in php. Seems like `function-call` doesn't have any styling at all.

[2016-02-16 15:46] simon-lifelike commented on #30
Seems like was removed in #28. Surely there must be a way to implement a better fix rather than removing the styling for all function calls?

[2016-02-18 15:55] silvestreh commented on #30
Would you be kind enough to check if the latest update fixed your issue. I just synced the styles with the latest version from Sublime's version. This syntax theme is actually a simple port from the Sublime's version.

[2016-02-18 16:12] simon-lifelike commented on #30
Ah, I see. Seems like that fixed it :)

Thanks!

JS
![screenshot from 2016-02-18 17-07-49](https://cloud.githubusercontent.com/assets/5887301/13149586/438a9e64-d662-11e5-82a1-0b417a4bebc1.png)

PHP
![screenshot from 2016-02-18 17-08-17](https://cloud.githubusercontent.com/assets/5887301/13149589/470922cc-d662-11e5-94be-9776e440fe93.png)

Python
![screenshot from 2016-02-18 17-04-48](https://cloud.

[2016-02-18 16:15] DouglasHennrich opened #31 "new version break JS color"
Just update to the newest version and it break's javascript's color files

[2016-02-18 16:25] silvestreh commented on #31
Breaks in what way? I actually just sync'd the theme with Sublime's version… which basically is all that I do for this theme…

Share screenshots and better describe your problem. I can't do anything with "breaks javascript's color files". :smile:

[2016-02-18 17:05] DouglasHennrich commented on #31
hahaha sure, my bad

new version:
![captura de tela 2016-02-18 as 15 02 15](https://cloud.githubusercontent.com/assets/10107024/13151365/f4599860-d650-11e5-960a-b756e486f852.png)

previous version:
![captura de tela 2016-02-18 as 14 13 09](https://cloud.githubusercontent.com/assets/10107024/13151371/fbd0bbaa-d650-11e5-9a9b-255fba1c2acf.png)

[2016-02-18 17:42] silvestreh commented on #31
I don't see it as broken. It's just slightly different. Besides, the latest update fixed #30 where methods were not being properly highlighted.

[2016-02-18 17:42] #31 closed

[2016-02-18 17:42] #30 closed

[2016-02-18 17:46] silvestreh commented on #29
I'm sorry, but for the time being I'm not adding the changelog. The syntax themes are direct ports of those available for SublimeText.

[2016-02-18 18:56] bradynpoulsen opened #32 "JSON stopped highlighting after first level of keys in 0.4.0"
I just ran the update for version 0.4.0 and JSON syntax doesn't highlight after the keys of the first layer

![screen shot 2016-02-18 at 11 54 28 am](https://cloud.githubusercontent.com/assets/5748275/13154543/ac704f04-d636-11e5-9862-4758f167438a.png)

[2016-02-18 19:03] ryanjcain commented on #30
Totally Works!  Thank you so much for working on this!

-Ryan

On Thu, Feb 18, 2016 at 7:55 AM, Silvestre Herrera <notifications@github.com

[2016-02-18 19:09] hnguyen94 opened #33 "No highlighting for instance variables in Ruby"

[2016-02-18 20:26] silvestreh commented on #33
I know jack about Ruby… would you care to share a screenshot and a snippet of code so I can test this out?

[2016-02-18 20:28] silvestreh commented on #32
Yeah, I noticed this too… I reconverted the sublime text theme for 0.4.0 (which is what I usually do) and a couple things got a little messed up… this is one of them. I'm working through today's issues expect a patch soon :smile:

[2016-02-18 21:43] #32 closed

[2016-02-18 22:22] hnguyen94 commented on #33
Sure. I downgraded to 0.3.3. In Version 0.4.0 @orders is white..

![screen shot 2016-02-18 at 23 20 31](https://cloud.githubusercontent.com/assets/8395044/13160182/41e9849c-d696-11e5-8be5-0286d0ed07a7.jpg)

[2016-02-19 15:50] silvestreh commented on #33
should be golden now!

[2016-02-19 15:50] #33 closed

[2016-02-22 21:46] D1SC0tech commented on #30
Sorry about the accidental regression in my PR. Unfortunately, the problem of parens and semicolons being colored (#27) still remains, I'm trying to come up with a better fix now.

[2016-02-22 21:50] ryanjcain commented on #30
No worries, I hope you will be able to iron it out.  I noticed another
small change in the most recent update as well.  Not as large of an issue,
but "self" used to have syntax highlighting when working with classes
previously. I am not sure if the change was intentional or not, but at the
end of the day I still love the style.  Thanks for all your hard work and
the regular improvements.  Keep it

[2016-02-23 07:20] D1SC0tech commented on #30
I'm working on a separate [material dark syntax](https://github.com/D1SC0tech/material-dark-syntax) theme, mainly just for fun. Currently there's only a dark variant. Let me know what you think over on the repo, I'd love to hear any suggestions/fixes!

@silvestreh I'll get out of your hair here, I don't want to clutter this issue up. And thanks again for the fantastic UI/syntax themes, I use them

[2016-02-23 15:24] hubertprein opened #34 "Code highlighting"
I love the theme and color scheme, however highlighting some text, is really hard to see what you have highlighted.

Atom: http://cl.ly/281W3u3N2d24
Sublime: http://cl.ly/3x2X0D2e0W2z

Any chance you might update this like the sublime variant?

[2016-02-23 19:00] haveanicedavid commented on #34
@hubertprein I have the same complaint, but worked around it by modifying my own atom stylesheet:
[code]

[2016-02-25 03:22] seanmars opened #35 "parameter in javascript function"
The color of parameter  in javascript function is same to function;

[2016-03-22 21:25] britnidesigns opened #36 "PHP coloring on closing tags"
Previously the PHP opening and closing tags were completely red, but since recent updates, the closing tag is not consistent. The `?` is white, while the `>` is red.

![image](https://cloud.githubusercontent.com/assets/6564393/13968299/424809c4-f039-11e5-8b87-758d021ebe49.png)

Even though this is a minor issue, i've noticed it does reduce the inline readability quite a bit.

_Version 0.4.3_

[2016-03-22 21:47] silvestreh commented on #36
Yep, I noticed this too. Totally forgot to fix it though…

[2016-03-24 18:27] #36 closed

[2016-03-24 18:29] silvestreh commented on #35
Sorry for the huge delay. This might've been fixed in a previous release so I'll close the issue.

![captura de pantalla 2016-03-24 a las 15 28 56](https://cloud.githubusercontent.com/assets/1133339/14027192/2c3c1aa6-f1d5-11e5-9f78-1cf7b5aa5829.png)

[2016-03-24 18:29] #35 closed

[2016-03-24 19:33] #34 closed

[2016-03-25 04:39] seanmars commented on #35
Thanks a lot.

[2016-04-04 16:43] bennyp123 commented on #32
JSON arrays don't highlight properly
https://infinit.io/_/qYaGhNs

[2016-04-04 16:45] bennyp123 opened #38 "JSON Arrays not highlighted properly"
no key:value differentiation in JSON arrays:

<img width="628" alt="screen shot 2016-04-04 at 7 44 18 pm" src="https://cloud.githubusercontent.com/assets/1466420/14255655/b70ec374-fa9d-11e5-8e6b-b280d707c8d6.png">

[2016-04-04 16:54] bradynpoulsen commented on #38
Which version are you using?

[2016-04-04 16:57] bradynpoulsen commented on #38
@silvestreh I can confirm this happens in 0.4.5 when an object is nested inside of an array. Objects still highlight properly on their own

[2016-04-04 17:43] #38 closed

[2016-04-04 17:46] silvestreh commented on #38
Done! I published an updated theme :smile:

Thanks for pointing it out

[2016-04-10 17:24] azastrael opened #39 "Problem with colors in JS"
Hey !

Is it normal that :

![2ff7e544-9415-11e5-8c82-4ba4609eeb7e](https://cloud.githubusercontent.com/assets/8067794/14411755/996571f2-ff51-11e5-863d-6e9ad6afd787.png)

became that  :

![](http://i.imgur.com/88xuS8s.png)

( I mean for the syntax of course )

[2016-04-10 19:35] silvestreh commented on #39
It's hard to tell what the problem is because both snippets are radically different.

[2016-04-11 08:51] azastrael commented on #39
Hey !

Yeah sorry so here are the problems that I can see :
- The brackets are in blue
- `module` isn't in red

[2016-04-21 18:46] willviles commented on #39
**v0.3.3**
<img width="571" alt="screen shot 2016-04-21 at 19 43 29" src="https://cloud.githubusercontent.com/assets/2046935/14720482/91145256-07f9-11e6-9676-fcda6c335bf2.png">

**v0.4.0 >=**
<img width="585" alt="screen shot 2016-04-21 at 19 44 03" src="https://cloud.githubusercontent.com/assets/2046935/14720500/a9ee51a0-07f9-11e6-9532-5d07d4244106.png">

I've downgraded to version 0.3.3:
`apm in

[2016-04-21 21:12] silvestreh commented on #39
Sorry for the delay… yes, it was an intended change as it matches the ported textmate theme.

[2016-04-21 21:12] #39 closed

[2016-06-18 00:44] Gunny123 opened #40 "Update Material Syntax to match Material syntax for Sublime Text"
The syntax color scheme on Sublime was recently updated. Was just wondering if you were going to update to match potentially?

[2016-06-29 17:18] haveanicedavid commented on #40
The current theme looks great, but Id love this as well

[2016-08-12 16:16] Gunny123 commented on #40
@silvestreh Any update on this?

[2016-08-12 17:51] silvestreh commented on #40
I'll get to this as soon as I get some free time. It'll come, don't worry 😄

[2016-08-12 17:53] Gunny123 commented on #40
I could probably do it and then submit a pull request

[2016-08-12 18:01] silvestreh commented on #40
That'd be great. All help is appreciated!

[2016-08-12 18:04] Gunny123 commented on #40
I haven't exactly ported a theme before. What would you recommend doing?

[2016-08-12 18:43] silvestreh commented on #40
If changes are minimal, I would open Sublime and Atom side by side and update `amu-extra.less` to adjust things. Otherwise, you can use APM to convert TextMate Themes (the format Sublime uses). Either way you'll have to make extra adjustments in `amu-extra.less` because APM always makes mistakes and doesn't look the same.

[2016-08-12 18:58] Gunny123 commented on #40
[code]

I did a quick direct conversion of the material color scheme using `apm` it gave me this file for the colors.

I guess I can find the counterparts in the Atom version and change them to match

[2016-08-16 22:09] Kaijun opened #41 "Could you add more support for Markdown?"

[2016-09-09 23:12] Ben3eeE opened #42 "Incorrect syntax highlighting for soft wrapped lines"
Have only seen this when using atom-material-syntax, if you look at the description fields the syntax highlighting is incorrect when it gets soft wrapped.

![image](https://cloud.githubusercontent.com/assets/1058982/18405591/73f0b796-76f3-11e6-88f8-bf19115aad61.png)

[2016-09-10 01:45] yudai-nkt commented on #42
Does your issue happen only with Atom Material Syntax? Seems like an Atom's bug (atom/atom#1667) rather than that of the theme.

[2016-09-10 05:13] Ben3eeE commented on #42
Yes only with Atom Material Syntax, here is how the same part looks after switching to One Dark:
![image](https://cloud.githubusercontent.com/assets/1058982/18408122/123d64da-7726-11e6-8ccf-f87ca7524531.png)

[2016-09-13 18:30] rwatts3 opened #43 "Styles for the background color of the screenshot in the readme."
Greetings,

I would like to use the background color styles you used for the screenshot, and not the default styles that are set when installing the package.

Could you provide the code you used when you took that screenshot ?

[2016-09-13 18:51] silvestreh commented on #43
Hi @rwatts3. I used no custom styles for the screenshots. They're probably outdated though.

[2016-09-13 18:51] #43 closed

[2016-09-18 16:21] lednhatkhanh opened #44 "Keep updating with sublime text version?"
This project stopped updating for while, but the sublime is still being updated.

[2016-09-18 22:22] #44 closed

[2016-09-18 22:25] silvestreh commented on #44
Thanks! I'm closing this 'cause it's a dupe of #40 … This project is, for the most part, a one-man-show and I'm a little short on my free time. I'll get to it eventually 😄 . You're more than welcomed to contribute if you really can't wait, I'd really appreciate an extra pair of hands.

[2016-09-23 18:20] Announcement commented on #40
is this not the same as #44 ?

[2016-10-19 05:11] Nikki1993 opened #45 "Deprecated Selectors"
Latest Atom from master, 1.13.0-dev at the time of writing, reports deprecated selectors for atom editor due to removal of shadow dom.

Starting from Atom v1.13.0, the contents of atom-text-editor elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using :host and ::shadow pseudo-selectors, and prepend all your syntax selectors with syntax--. To prevent bre

[2016-11-17 22:15] AMP648 opened #46 "Missing Syntax for Some SQL Functions"
The only one I can currently recall is the UNIQUE function/constraint. There may be a few more. Could you please update to match with current Oracle sql syntax?

[2016-11-30 03:31] Daniel-UCAS opened #47 "Material can not deal with cpp pointer sign * in markdown environment which means italic"
Example code
`
[code]
`
The following * after weights_ will make contents after it italic

![2016-11-30_cpp_render](https://cloud.githubusercontent.com/assets/16081008/20738747/5163269a-b6f0-11e6-952c-c2aa891ad488.jpg)

[2016-11-30 12:53] Daniel-UCAS commented on #47
This seems to be a common problem, just see
[language-gfm issues-44](https://github.com/atom/language-gfm/issues/44)
A simple solution is to put a space after *, but that is not perfect as expected
![2016-11-30_cpp_render_1](https://cloud.githubusercontent.com/assets/16081008/20752977/0e33ce16-b73f-11e6-925a-29fb50c312fb.jpg)

[2016-11-30 17:00] silvestreh commented on #47
Yep, seems to happen with all syntax themes as I can reproduce this issue using One Dark/Light as well.

[2016-12-02 12:35] Daniel-UCAS commented on #47
Is there a better way to solve this?

[2016-12-02 15:05] silvestreh commented on #47
It seems that the space after the `*` character is the only way to go. Also, looks like the bug report on the language package is almost two years old which is really unfortunate it's not being prioritized.

[2017-01-10 21:31] SwankyLynx commented on #45
Yep, I got the same issue after atom being updated to 1.13

[2017-01-11 14:30] ruivenda opened #48 "Deprecated Errors"
Latest upgrade of Atom break the theme with deprecated status.

Any change of this being solved?

Deprecated selectors! Both in the theme ui and the theme syntax

[2017-01-11 21:18] att1cus commented on #45
Same here.

Atom: 1.13.0
atom-material-syntax: 0.4.6

[2017-01-11 21:25] lowmess commented on #48
The 'Report Issue' button in Atom leads to a 414 error, but this is the error in question:

[2017-01-11 21:27] lowmess commented on #48
oops! looks like this is actually a dupe of #45

[2017-01-12 13:50] silvestreh commented on #48
Closing this one in favor of #45

[2017-01-12 13:50] #48 closed

[2017-01-12 17:16] silvestreh commented on #45
Fixed in `0.4.7` 🎉

[2017-01-12 17:16] #45 closed

[2017-01-12 18:48] elebumm opened #49 "Background Colour Change on Selection"
Hi,

I love the colours and the design for atom-material-syntax and ui. You have done an amazing job.

I am having a little issue with the syntax part of this. I want the whole background to be one colour but it changes depending on what's selected. Here is an example:

[What it looks like.](http://imgur.com/71B5rM6/)

I have tried to change the syntax in case and the rest work fine. Any ideas as

[2017-01-12 20:43] silvestreh commented on #49
This, I believe, is not an issue with either material-ui or material-syntax, but with Electron itself. You can read more about it on [atom/atom#12634](https://github.com/atom/atom/issues/12634).

Let me know if the workarounds mentioned in that issue work for you so I can close this issue 😄

[2017-01-12 20:56] elebumm commented on #49
Thanks @silvestreh for the quick reply. I checked out the issue and found that by opening up my terminal and running `atom --disable-gpu' it solved my problem.

[2017-01-12 20:56] #49 closed

[2017-01-12 21:09] tristan957 opened #50 "Just updated to .4.8, is the Python highlighting supposed to look this bad?"
It did not look this bad before the update. It was my favorite syntax theme before the update.
![materialsyntax](https://cloud.githubusercontent.com/assets/11936772/21908371/19f2cb7e-d8d9-11e6-85f7-daa40d831f08.png)

[2017-01-12 22:15] silvestreh commented on #50
To be completely honest: _probably_. This theme is just an automatic conversion of the Sublime Text version with a few added things, like the matching bracket highlight.

[2017-01-12 22:38] JosephMart commented on #50
:(

[2017-01-12 22:47] tristan957 commented on #50
Well that's unfortunate. Maybe I'll give it a chance :/

[2017-01-12 23:34] silvestreh commented on #50
let me know which are the biggest issues with the current look and I'll try my best to fix them. For example: I myself, am not digging the italic keywords.

[2017-01-13 00:00] tristan957 commented on #50
Yes, the italic keywords are being largely overused in my opinion. Also for instance a line like line 21 in my screenshot, there seems to be way too much orange. Generally the previous iteration of this theme was really good. Line 34 in the screenshot, it would be nice if there wasn't so much of the same blue everywhere. I think the red for "self" could be a different red. It just seems to pop out

[2017-01-13 12:39] moxaj commented on #50
@tristan957 +1 (italics, overused blue shade)

[2017-01-13 19:47] octoxan opened #51 "Latest update made the theme too different"
Not sure if this could be called an actual bug, but this was an excellent theme before the update.

Now for variables the $ and the actual text are two different colors.

There is also a TON of purple and an insane amount of italics.

Same goes for every file extension.

Easiest way to revert back?

[2017-01-15 01:06] tunnckoCore commented on #40
@equinusocio can you help?

[2017-01-15 01:10] Gunny123 commented on #40
@tunnckoCore @equinusocio I actually deleted this folder since I didn't have space in my Dropbox

[2017-01-15 01:20] tunnckoCore commented on #40
no matter :laughing: :)

[2017-01-15 01:24] Gunny123 commented on #40
I don't think this ever got worked on by anyone besides me. I think I can retrace my steps pretty quickly.

[2017-01-15 09:38] equinusocio commented on #40
@Gunny123 I just made the Palenight version. Just copy the folder inside your atom packages directory.
[mt-palenight.zip](https://github.com/atom-material/atom-material-syntax/files/706498/mt-palenight.zip)

[2017-01-15 17:12] tunnckoCore commented on #40
I did exactly this with few themes, but it seems to not work -- it is looks like just white plain text file.

[2017-01-15 18:25] tunnckoCore commented on #40
@equinusocio how exactly you converted it? You this way still not works for me. I tried to convert palenight using that and looking at the less style files there are differences. And the theme not looks working.

![2017-01-15-20 27 13_1280x1024_scrot](https://cloud.githubusercontent.com/assets/5038030/21965061/a8f64c2c-db60-11e6-9e72-d42577aeaac8.png)
![2017-01-15-20 27 41_1280x1024_scrot](https:/

[2017-01-15 21:58] Gunny123 commented on #40
@silvestreh @equinusocio Should #51 and #50 be merged into this issue for general housekeeping?

[2017-01-16 07:44] equinusocio commented on #40
I'm not a contributor..

[2017-01-16 10:06] rpmonteiro commented on #51
Same happened to JS/JSX... had to go back...

[2017-01-16 14:38] silvestreh commented on #51
I locked the conversation for now. The way to go, if you're not digging the latest update, is to downgrade as shown in my previous comment.

As I type this I'm also working on a _manual port_ rather than an automatic one to make the codebase maintainable.

I'm also not closing the issue to keep it visible.

[2017-01-16 15:56] silvestreh commented on #50
@tristan957 (and everyone else for that matter) I'm mixing the old with the new… Here's what it looks like:

![captura de pantalla 2017-01-16 a las 12 53 25 p m](https://cloud.githubusercontent.com/assets/1133339/21989720/cfff007c-dbea-11e6-84c5-a98d6c30298f.png)

I know jack about Python, so ignore the snippets 😁

[2017-01-16 16:30] tristan957 commented on #50
This looks really good. When can we expect an update?

On Mon, Jan 16, 2017, 9:56 AM Silvestre Herrera <notifications@github.com>
wrote:

[2017-01-16 16:33] silvestreh commented on #50
As soon as I go through other popular languages, like PHP. I'm making separate stylesheets for language-specific tweaks 😄

[2017-01-16 19:32] silvestreh commented on #51
While still somewhat different, version `1.0.0` (which is a complete rewrite) provides a mix between the old and the updated look.

[2017-01-16 19:32] #51 closed

[2017-01-16 19:32] silvestreh commented on #50
While still somewhat different, version 1.0.0 (which is a complete rewrite) provides a mix between the old and the updated look.

[2017-01-16 19:32] #50 closed

[2017-01-16 20:24] tristan957 commented on #50
I didn't notice before but I love how you used some of my code for your example in the previous screenshot

[2017-01-16 20:42] silvestreh commented on #50
heh, yeah, so you could compare with (part of) the same snippet 😄

[2017-01-17 09:46] canemacchina opened #52 "Javascript: Incorrect color of boolean value"
With the last update (1.0.0), boolean values has the same color of the variable names (and that's annoying)

[2017-01-17 16:44] b2e9f523 opened #53 "Ruby: Missing colouring for instance variables"
Since the newest release all Ruby instance variable declaration lost their syntax colouring.
![bildschirmfoto 2017-01-17 um 17 43 39](https://cloud.githubusercontent.com/assets/7517373/22030001/91dd261e-dcdc-11e6-97f7-4d74127cb630.png)

[2017-01-17 17:04] bernardop opened #54 "Selected text is not very visible"
When selecting text, the highlight can be easily lost with the background. Could a different color or lighter shade of gray be used? In the following screenshot, the text `isCustomerLoggedInEpic` is selected.
![screen shot 2017-01-17 at 11 59 45 am](https://cloud.githubusercontent.com/assets/28455/22030793/ccf96f94-dcac-11e6-8cf9-0f5ba5d55797.png)

[2017-01-17 18:46] tristan957 commented on #50
Hey. I just updated. I feel like one of the blue colors is still really overused. It happens mainly when you have a variable name with a function/method.

`self.variable.function()`. The variable and function are the same blue. Is there anyway to get the variable to possibly be white so I'm not looking at a rainbow haha :)

[2017-01-17 19:31] miguelpalacio commented on #52
This also applies for numbers. Makes the code very uncomfortable to read.

[2017-01-17 22:06] silvestreh commented on #50
Well, it's in line with the original theme. The highlighting "engine" doesn't differentiate between the parts:

[code]

As you can appreciate, the string `.variable.function` is styled the same, not because I choose to, but because I can't do it different.

[2017-01-17 22:09] silvestreh commented on #54
I recently wrote the theme by hand instead of doing the usual automatic conversion from Sublime's theme… with that said, I'll take a look!

Thanks!

[2017-01-17 22:09] tristan957 commented on #50
Unlucky oh well thanks for the heads up

[2017-01-17 22:24] #52 closed

[2017-01-17 22:24] #53 closed

[2017-01-17 22:24] #54 closed

[2017-01-18 06:00] bernardop commented on #54
I love this theme, thanks for the quick fix!

[2017-01-18 08:24] repsac-by commented on #52
@silvestreh Please also add a definition of `syntax--null`

[2017-01-18 10:13] doryphores opened #55 "Incorrect color for JavaScript case statements"
As you can see from the screenshot, the second case statement is incorrectly highlighted.

![image](https://cloud.githubusercontent.com/assets/23947/22059790/36bfbd0c-dd66-11e6-9fa1-fda12a1be4c1.png)

The issue seems to be triggered by the `var` declaration in the first `case`. If I move the `var` declaration, the highlighting is correct:

![image](https://cloud.githubusercontent.com/assets/23947/

[2017-01-18 10:17] doryphores commented on #55
It looks like this is a problem with the `language-babel` package which is no longer supported. I'll close this now.

[2017-01-18 10:17] #55 closed

[2017-01-18 11:29] stryju commented on #29
could you at least add the list of commits that go into a release? :)

[2017-01-18 14:18] octoxan commented on #40
The updated atom-material-syntax looks like garbage. Why the need for so many drastic changes?

[2017-01-18 14:37] tunnckoCore commented on #40
@equinusocio could you just please convert the default theme? :) So I can try it.

[2017-01-18 14:42] tunnckoCore commented on #40
@octoxan why garbage? In the screen shot it looks it is more better than previous and is more matching to the original Sublime theme.

@silvestreh is there any specific reason that it requires Atom >=1.13?

[2017-01-18 14:53] tunnckoCore commented on #40
@silvestreh awesome! it now looks perfect :) Finally! Thanks a lot.

I think we can close this? :)

[2017-01-18 14:56] octoxan commented on #40
@tunnckoCore It became the #1 rated syntax highlighting theme for Atom while looking like it did, and it now no longer looks anything like before.

A lot of stuff for Blade syntax highlighting now looks broken.

Most of my php/blades files are now 50% white and 40% purple.

And look at SASS files for example...

Before:
![good](https://cloud.githubusercontent.com/assets/4382195/22068772/16349b36-d

[2017-01-18 15:03] tunnckoCore commented on #40
I'm not talking anything about that. The javascript syntax of 1.0.1 now looks more better than the 0.4.6, that's what I'm talking and thanking :) But yea you're right for the SASS example.

[2017-01-18 16:14] silvestreh commented on #40
@octoxan What happened is that this theme used to be a direct (and automatic) conversion of the Sublime version. Many complaints, like yours, raised after the latest conversion so I decided to ditch the automatization part and start doing it by hand.

You're very much free to fork, but I would _really appreciate_ some feedback on what's bothering you the most (the Sass examples you provided are pu

[2017-01-18 16:18] octoxan commented on #40
@silvestreh

Awesome! I'll dig into it some more when I'm off work and try to point out more things or help fix things like that.

[2017-01-18 17:31] silvestreh commented on #40
@octoxan Just pushed a new patch with some tweaks for CSS-like languages

<img width="424" alt="captura de pantalla 2017-01-18 a las 2 30 41 p m" src="https://cloud.githubusercontent.com/assets/1133339/22075438/c26524b8-dd8a-11e6-850f-40df7df736d1.png">

[2017-01-18 18:06] equinusocio commented on #40
Do you really think taht the units are more importants than the value? Now you first recognize the unit before the value.

[2017-01-18 18:08] octoxan commented on #40
@equinusocio Why would this change make you recognize the unit before the value?

Now they're different enough again to where your mind should be able to scan and know which color to look for depending on the what you're looking for. The old new way had them practically blend together.

[2017-01-18 18:24] silvestreh commented on #40
@equinusocio I *think* see what you mean (if contrast between back and foreground is what you're talking about.)

I'm sure it wouldn't pass the WCAG 2 AAA accessibility test, but neither would Sublime's version because it's all red… and I do enjoy differentiating between unit and value.

I'll probably reverse it because you do make a point that units stand out more than value. Something like…

<im

[2017-01-19 08:52] equinusocio commented on #40
The original Material Theme color scheme for css is this one:
<img width="284" alt="screen shot 2017-01-19 at 09 50 52" src="https://cloud.githubusercontent.com/assets/10454741/22099752/e88e6ac6-de2c-11e6-8f3a-2145e2afb5b7.png">

[2017-01-19 15:35] silvestreh commented on #40
@equinusocio this is no longer a direct port of the sublime theme… I've decided to diverge from it a little bit 😄

[2017-01-19 16:33] equinusocio commented on #40
My comment is for @Gunny123 that open the original issue about a 1:1 conversion. You should close this issue because this, as you pointed out, is not more the official scheme porting. :)

[2017-01-19 17:50] #40 closed

[2017-02-16 13:21] commit-master opened #58 "Type in javascript are not working."
Hi,

I just installed the theme, but it seems the type in Javascript are not working. See the screen below, the keys should have a different color (see lines 8,9,10).

![capture d ecran 2017-02-16 a 14 20 17](https://cloud.githubusercontent.com/assets/11718935/23022808/14235f5c-f453-11e6-99a9-b21adcf5e031.png)

Do you know how I can fix this ?
Thanks!

[2017-02-18 12:28] silvestreh commented on #58
those should be capitalized

[2017-02-18 22:59] silvestreh commented on #58
Also, AFAIK, there's no `Float` type in Javascript. Floats are `Number`s.

[2017-02-28 06:10] tunnckoCore commented on #58
He means the property keys, right, @commit-master ? It is a bug in Atom engine. Can be fixed, i noticed that when did few fixes.

[2017-02-28 06:15] tunnckoCore opened #60 "javascript: `null` is white, should be like the booleans"
[code]

![2017-02-28-08 19 27_330x72_scrot](https://cloud.githubusercontent.com/assets/5038030/23393813/1702d4de-fd8e-11e6-9418-5021ccbb09a6.png)

[2017-02-28 08:06] commit-master commented on #58
Yet exactly I was talking about the keys @tunnckoCore even tho @silvestreh 's answer was right and had a point :)

[2017-02-28 18:04] silvestreh commented on #60
For some reason I cannot see screenshots uploaded to `cloud.githubusercontent.com` (I can't even see my own profile pic) 😕

[2017-02-28 18:08] tunnckoCore commented on #60
Maybe temporary.

That with that :)

![](http://pasteboard.co/DRGB4L5hc.png)

[2017-02-28 18:10] tunnckoCore commented on #60
Get that ;d https://cdn.pbrd.co/images/DRGB4L5hc.png

![](https://cdn.pbrd.co/images/DRGB4L5hc.png)

[2017-02-28 19:01] silvestreh commented on #60
Just curious… What's the reasoning behind making it look like a boolean? Sublime's version makes it the same color as booleans, but does it make sense? I mean, it's a value that represents the intentional absence of value… it *should* look different, right?

I'm not saying white is OK, but I think we can come up with something different maybe 🤷‍♂️

[2017-02-28 19:15] tunnckoCore commented on #60
meh, yea, may be lighter than bools, but not something different.

yea, it can make sense, but habits

[2017-02-28 21:44] silvestreh commented on #60
I'm not exactly a fan of mixing italics in my code, but what about something like:

<img width="433" alt="captura de pantalla 2017-02-28 a las 16 20 25" src="https://cloud.githubusercontent.com/assets/1133339/23435266/e778aff6-fde5-11e6-9b47-f7d617cb3d67.png">

[2017-02-28 22:21] tunnckoCore commented on #60
Me too :sweat_smile: , kinda don't like it too. That's why i just want to match at least as much as possible to the Sublime's - because the eyes and the years usage.

[2017-03-14 00:36] Github-K opened #61 "请教一下，怎么设置才能到达你图片上的效果呢？"
我的设置如下：
1. 安装了atom-material-syntax主题。

2.安装了atom-material-ui主题。

3.同时设置了UI Theme和Syntax Theme为 Atom Material。

 配置完后编辑器内部颜色大体和图片一致，但是编辑器本身的颜色、投影、边框等和图片差距很大，请教一下是不是有什么地方没设置对，还是需要其他什么设置呢？

[2017-03-14 00:44] silvestreh commented on #61
I… I don't speak that language 😥

[2017-03-14 00:48] Github-K commented on #61
My set is as follows:

    1. Install the atom - material - syntax theme.
    2. Install the atom - material - UI theme.
    3. At the same time set up UI Theme and Syntax Theme for Atom Material.

After the configuration editor internal agreement and pictures color, but the color of the editor itself, such as projection, border, and image gap is very big, I ask where is there not setting on, or n

[2017-03-14 01:54] silvestreh commented on #61
@Github-K looks like you want to reduce white space? There are settings to use a _compact tree view_ and a _compact tab bar_.

<img width="860" alt="captura de pantalla 2017-03-13 a las 22 52 28" src="https://cloud.githubusercontent.com/assets/1133339/23882514/dd1fa500-083f-11e7-818a-c71d9e44753b.png">

You could also change the theme's font size to a smaller value to reduce the UI's size.

[2017-03-14 02:02] Github-K commented on #61
Thank you very much for your solution, I give it a try, if there is a problem, contact you again.

[2017-03-16 10:34] Karmaliu commented on #61
Cannot find module 'tinycolor2'  this is likely a bug

[2017-03-16 10:37] Karmaliu commented on #61
@Github-K 哈哈哈

[2017-03-22 11:48] rgalex2034 opened #62 "Wrong JavaScript syntax in a PHP file"
If you write JS in a PHP file, the colors for syntax highlight are different.
You get the "=", braces, curly braces and variable names as pink color in anonymous functions.

As an example, write this code with a JS file and a PHP file:
`<script>
    var handler = 3;
    $(document).ready(function(){
        var something = 5;
    });
</script>`

Result:
![imagen](https://cloud.githubusercontent.co

[2017-04-05 19:29] whereisjefe opened #63 "spell check indicator hidden on active line"
![image](https://cloud.githubusercontent.com/assets/22965241/24723016/ac8e3f88-19fa-11e7-89b5-1fff617c2697.png)

When you have the cursor on the line, the spell check indicator gets hidden... Seems to only happen on the standard syntax as both Dark and Light do not have this issue (see below screenshots)

![image](https://cloud.githubusercontent.com/assets/22965241/24723073/de9c2756-19fa-11e7-9bb3

[2017-05-08 15:33] huwcbjones commented on #63
Can also confirm
![image](https://cloud.githubusercontent.com/assets/5251487/25811628/ce437ece-340b-11e7-9d8b-70cea2c7051e.png)
![image](https://cloud.githubusercontent.com/assets/5251487/25811639/d6e31684-340b-11e7-9f66-2151d3dbb7d4.png)

**Details:**
macOS: 10.12.4
Atom: 1.16.0 x64
atom-material-ui: 1.3.10
atom-material-syntax: 1.0.3

[2017-05-08 18:21] jordipc opened #64 "In platformio pop ups do not appear correctly"
The input fields in popup messages are very big and it can't see completely.
Please excuse my limited English. Corrections are welcome.
![platformio](https://cloud.githubusercontent.com/assets/3213913/25818714/da903d46-342b-11e7-92ce-02a92d599f5a.png)

[2017-05-08 18:49] eramdam opened #65 "CSS properties have the same color as class selectors with 1.0.3 release"
![image](https://cloud.githubusercontent.com/assets/1409924/25819901/4efd4270-33e4-11e7-9911-b7375e1d44b9.png)

See in comparison the dark variant of this syntax theme (I don't have an old version of the non-dark one anymore though...)
![image](https://cloud.githubusercontent.com/assets/1409924/25819933/65ecf408-33e4-11e7-8eb2-804d761a6c8f.png)

[2017-05-08 18:54] silvestreh commented on #64
are you using Material UI `1.3.10`?

[2017-05-08 18:55] silvestreh commented on #65
is this regular CSS, Sass, LESS?

[2017-05-08 18:57] eramdam commented on #65
@silvestreh regular CSS. I'm on Atom 1.17.0-beta4 FWIW

[2017-05-08 19:07] silvestreh commented on #65
Ah! It looks like something in Atom 1.17 is making them like this.

Here's on Atom 1.16
<img width="327" alt="captura de pantalla 2017-05-08 a la s 16 06 45" src="https://cloud.githubusercontent.com/assets/1133339/25820640/626a7598-3408-11e7-9cbe-03fc7185a01c.png">

And here's on 1.17
<img width="337" alt="captura de pantalla 2017-05-08 a la s 16 06 53" src="https://cloud.githubusercontent.com/ass

[2017-05-08 19:10] jordipc commented on #64
Yes I'm using Material UI ```1.3.10``` and Material syntax ```1.0.3```
Thanks!

[2017-05-08 19:35] eramdam commented on #65
You can check 1.17's changelog, I don't see anything that should change that but I may be missing something! https://github.com/atom/atom/releases

[2017-05-08 19:39] silvestreh commented on #65
well, they upgraded LESS, that could be doing something…

[2017-05-08 19:41] silvestreh commented on #65
aaaaaand… fixed!

[2017-05-08 19:44] #65 closed

[2017-05-08 19:49] silvestreh commented on #64
Looks like this is an issue with the UI package, not the syntax. In any case, there's a new version for the UI theme, `2.0`, but it requires Atom 1.17 which is currently on beta. If you're willing to upgrade to a beta release make sure to give Material UI 2.0 a try!

[2017-05-08 21:19] donovanhiland opened #66 "Would be nice to have react components in jsx stand out"
Would be more readable if `.syntax--jsx` elements used a different color so that react components in jsx don't blend in. I think I would prefer something different than other html elements tags just for ease of being able to pick out a component in the crowd.

![image](https://cloud.githubusercontent.com/assets/17991396/25825797/8af2d606-3401-11e7-8d1a-63661503982b.png)

[2017-05-08 21:42] silvestreh commented on #66
Sounds like a good idea! I don't use React (I'm a Vue.js guy) so I didn't catch this sooner. I'll copy-paste some react snippets and make some enhancements!

[2017-05-08 22:29] donovanhiland commented on #66
Awesome! Please let me know if I can help in any way.

[2017-05-08 22:47] silvestreh commented on #66
@donovanhiland do you have any package to enable JavaScript/JSX syntax highlighting? Here's what it looks for me using [language-javascript-jsx](https://atom.io/packages/language-javascript-jsx):

<img width="683" alt="captura de pantalla 2017-05-08 a la s 19 43 47" src="https://cloud.githubusercontent.com/assets/1133339/25828470/b1ad4996-3426-11e7-8924-2cf84e8ba9eb.png">

BTW, I'm on Atom 1.17.

[2017-05-08 23:04] donovanhiland commented on #66
Yeah I'm actually using `language-babel`

[2017-05-09 01:35] silvestreh commented on #66
I'm not sure I'm digging the use of _italics_ that `language-babel` includes in [their styles](https://github.com/gandm/language-babel/blob/master/styles/language-babel.less#L52). Is it a convention thing? I'm tempted to override it 😁

[2017-05-09 04:30] donovanhiland commented on #66
I'm not attached to it. I actually didn't even notice until you pointed it out. Probably just an attempt to differentiate react-component attributes?

[2017-05-09 15:06] silvestreh commented on #66
I just pushed an update, `1.0.6` – failed to publish `1.0.5` to APM, but it still created the release on GitHub, odd.

[2017-05-09 21:14] jordipc commented on #64
Hi @silvestreh , on Atom 1.17 works perfectly.
Thank you very much!

[2017-05-09 22:19] silvestreh commented on #64
Cool! Thanks for letting me know 👍

[2017-05-09 22:19] #64 closed

[2017-05-16 18:58] Kalcode commented on #66
Not sure I understand this change. The change made react components the same color has HTML tags, red. Now it's even harder to pick out react components.

This is what it looks like now:

![screen shot 2017-05-16 at 1 55 52 pm](https://cloud.githubusercontent.com/assets/13425721/26123134/7059d9f4-3a3f-11e7-842c-6308903c73fe.png)

Think it is much harder to than before. Before it seems to default t

[2017-05-16 19:12] silvestreh commented on #66
@Kalcode the idea was to differentiate a component from its props. I never though about differentiating components from regular HTML tags.

I'm not a React user (I'm just getting started with it, so I'll feel everyone's pains eventually) so I might have missed the point of the original problem. My idea was to make it look like HTML since they're so similar anyway.

I'll reopen this issue and take

[2017-05-16 19:20] Kalcode commented on #66
When I approach I look to find the component and see its props. If I follow a prop it stands out itself because the prop itself is white, the attribute is always second to me.

From my perspective it would be like looking at HTML for attribute first. We usually look for the element first and then at its attributes. So I find visually filtering components from elements more helpful.

Customizing it

[2017-05-17 08:57] Encr1pt3d opened #67 "Php issue"
![captura](https://cloud.githubusercontent.com/assets/7103591/26146209/a439a708-3aef-11e7-8e3f-d8e206f01631.PNG)
/videos/ wtf! xD

[2017-05-30 07:45] quicoto commented on #42
Having the same issue

![Screenshot](https://cloudup.com/cDS1riRvATU+)

[2017-06-01 11:13] Encr1pt3d opened #68 "Fail using colors"
Hi friends,

My Atom Material color is failing

Atom versión: last one
Syntax Theme: Atom Material
UI Theme: One Dark

![image](https://cloud.githubusercontent.com/assets/7103591/26677362/db81e6b6-46cb-11e7-977e-b8eaa8b2d1a5.png)

[2017-06-01 18:34] Shadow1356 opened #69 "Parenthesis Color issue"
I'm using this package for PHP. The screenshot is a snippet from an associative array declaration. The opening parenthesis is not the same as the closing parenthesis. I have never noticed this before in any of my other code.
![color_problem](https://cloud.githubusercontent.com/assets/23078623/26695038/6298d8d4-46d7-11e7-82fb-2085227e5e7e.png)

[2017-06-04 13:18] bennypowers opened #70 "Support CSS mixins and custom properties"
Hey there. It'd be rad if your excellent syntax theme supported [CSS mixins](https://www.chromestatus.com/feature/5753701012602880):

## Broken:
<img width="428" alt="screen shot 2017-06-04 at 4 16 37 pm" src="https://cloud.githubusercontent.com/assets/1466420/26761934/37fe67a8-4941-11e7-9f27-44ea193fb78a.png">

## Works:
<img width="618" alt="screen shot 2017-06-04 at 4 15 09 pm" src="https://clo

[2017-06-23 12:20] hrvoojex commented on #30
Could it be possible to highlight only method call like here? Only the method, not the object name.

![screenshot_20170623_134641](https://user-images.githubusercontent.com/11456950/27481832-06f1c258-581f-11e7-99d9-8129cf336507.png)

[2017-07-06 17:40] DonadoJuan opened #72 "About font"
I was wondering what font are you using in the image example?
it match up with syntax really well
thanks for your time!

https://camo.githubusercontent.com/880d572e4ff6a55e93be2868f2e55df3cff470bc/687474703a2f2f692e696d6775722e636f6d2f335951654470732e706e67

[2017-07-07 15:54] silvestreh commented on #72
I'm almost sure that's [Fira Code](https://github.com/tonsky/FiraCode). Love that font! <3

[2017-07-07 15:54] #72 closed

[2017-07-11 15:01] Shadow1356 opened #73 "if Statement Color Issue"
Usually the color of the parenthesis and curly brackets are white with if statements, but I ran across this today in my code:
![if_color](https://user-images.githubusercontent.com/23078623/28075000-1f14b7ca-6628-11e7-90e5-881592885e69.png)
For some reason they're green. I'm using version 1.0.6

[2017-07-11 17:52] silvestreh commented on #73
Probably because of the mix of HTML and PHP … it's a bug indeed.

[2017-07-23 19:30] GoToLoop opened #74 "TextEditorComponent.measureDimensions is deprecated."
Assigning editor 20's height explicitly via `position: 'absolute'` and an assigned `top` and `bottom` implicitly assigns the `autoHeight` property to false on the editor.
This behavior is deprecated and will not be supported in the future. Please explicitly assign `autoHeight` on this editor.
[code]

[2017-07-28 18:57] Shadow1356 opened #75 "Parenthesis color mismatch."
On version 1.0.6, I declared an array with parenthesis inside and the colors are not matching each other.

![unmatch_paren](https://user-images.githubusercontent.com/23078623/28732196-ffab87d0-73a4-11e7-8203-a4b4bcd33a21.png)

[2017-08-09 21:13] zerzhul commented on #30
@hrvoojex  I found that using this syntax theme along with MagicPython syntax highlighter did what you suggested, which is what I was looking for when I found this syntax theme to start with.

[2017-08-26 20:21] skylize commented on #42
I'm seeing this JSON soft-wrap problem in all 3 syntax flavors from atom-material. Also shows up in [material-palenight-syntax](https://atom.io/themes/material-palenight-syntax), but that looks to me like probably a fork from atom-material-syntax.

Don't know what other themes to check for similar bug because most themes simply use one color for all strings, with no concern for whether it is a key

[2017-08-29 05:49] thfeng opened #76 "constants color is wrong for angularjs"
constants color is red in old version. after update to the latest version, constants color is white, same with variables' color. is it a bug? if it is not, how can i configure it ?

[2017-09-28 20:01] wba0 opened #77 "Angular2 HTML syntax highlighting"
Apologies if this has been addressed before, or if this is in the wrong place.

It would be very nice to have this as a feature of this theme as HTML starts to look pretty gross when it contains a lot of Angular syntax. There are a few themes that provide this but they simply cannot live up to Material in my opinion.

[2017-10-05 19:32] ventura01 opened #78 "Deprecated selector in `atom-material-syntax\index.less`"
In `atom-material-syntax\index.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the following selectors

[2017-10-10 13:01] mindpixel-labs opened #79 "Javascript multiline header comment incorrect highlighting"
Javascript documentation headers appear to be incorrectly highlighted.

**Reproduction Steps:**

1. Set language/syntax to Javascript
2. Insert/type the following heading comment:
[code]
**Expected behavior:**
![](https://snag.gy/7bL46U.jpg)
Expected behavior is to have the comment portions all muted.

**Observed behavior:**
![](https://snag.gy/8TKsPI.jpg)
Comment syntax is showing some of the ast

[2017-10-10 16:04] silvestreh commented on #79
I'm unable to reproduce this. Either with Atom's built-in JavaScript syntax or `language-babel`.

<img width="295" alt="captura de pantalla 2017-10-10 a la s 13 01 55" src="https://user-images.githubusercontent.com/1133339/31397060-56af9d5a-adbb-11e7-9263-4dd54897b471.png">

[2017-10-10 18:01] mindpixel-labs commented on #79
Very strange. Let me take a look and see. I appreciate your time!

[2017-10-10 18:15] mindpixel-labs commented on #79
@silvestreh I tried disabling all packages except this and it still happens on both my Mac and Windows machine. Not sure what's causing it. Quite strange!

[2017-10-10 18:21] silvestreh commented on #79
Can't reproduce even with `language-vue-component`

<img width="462" alt="captura de pantalla 2017-10-10 a la s 15 21 07" src="https://user-images.githubusercontent.com/1133339/31403150-aa8c63d2-adce-11e7-97ea-6a44f012ca69.png">

[2017-10-10 18:26] silvestreh commented on #79
OK! I managed to reproduce it! I'll work on a fix 😄

[2017-10-10 18:31] #79 closed

[2017-10-10 18:32] silvestreh commented on #79
Just pushed a patch! `1.0.7` should be available any minute now.

[2017-10-10 19:16] mindpixel-labs commented on #79
@silvestreh You rock, thank you!

[2017-10-11 13:10] anthony-pinskey opened #80 "PHP Syntax Highlighting Issues"
Hello,

It seems atom-material-ui has suddenly started to fail with the syntax highlighting on PHP files.

**Reproduction Steps:**

1. Installed a fresh copy of atom to ensure no other packages were conflicting
2. With all other packages removed, I installed atom-material-ui

**Expected behavior:**

![](https://snag.gy/dNT5GU.jpg)

**Observed behavior:**
![](https://snag.gy/GpjB6T.jpg)

The syntax

[2017-10-13 16:19] ENG618 opened #81 "Does not show up in the install panel"
Do to having the same name as another package maybe?

![image](https://user-images.githubusercontent.com/3827863/31555853-a30cab5a-b010-11e7-94eb-0c1834bdc551.png)

[2017-10-13 16:20] ENG618 commented on #81
never mind just realized that is just the onl icon and name showing here but same package

[2017-10-13 16:20] #81 closed

[2017-10-13 22:32] KolorowyAleksander opened #82 "Material syntax breaks parentheses matching indicator"
When the syntax theme is on, proper parentheses matching in one line is not shown, for example:
![atom material same line](https://user-images.githubusercontent.com/11392399/31568592-88f0fd2e-b075-11e7-8a30-4c5c5a7384d4.png)
However, closing parenth in another line shows up properly
(only closing though, I don't know if thats intended):
![atom material diff line](https://user-images.githubusercont

[2017-10-17 18:27] andremacola commented on #82
same here

[2017-11-07 15:56] chris-c-thomas commented on #41
I would also love this. Have been doing a lot of .md documentation lately and the Material Syntax (Original, Dark, Light) do not support Markdown nearly as nicely as Atom's default syntax themes.

[2017-11-15 11:53] doryphores commented on #82
#83 should fix this issue

[2017-11-16 01:49] twinattacker opened #86 "Bracket (Parentheses) Matching"
Currently, the only time brackets are matched are when they are on separate lines, but it should match parentheses even on the same line.

[2017-12-13 10:05] doryphores commented on #86
I have a PR open to fix this #83 but haven't heard from the maintainer unfortunately.

[2017-12-13 10:22] doryphores commented on #82
Here's a temporary fix by the way: https://github.com/atom-material/atom-material-syntax/pull/83#issuecomment-351348082

[2017-12-13 10:22] doryphores commented on #86
here's a temporary hack to fix this: https://github.com/atom-material/atom-material-syntax/pull/83#issuecomment-351348082

[2017-12-18 22:50] #82 closed

[2017-12-20 17:43] Nxt3 commented on #42
I think I fixed this (for `json` at least...) in my syntax theme: https://github.com/Nxt3/material-design-syntax/blob/master/styles/languages/json.less#L22

This produces the following: https://i.imgur.com/Dm4E2fV.png

Feel free to incorporate the fix.

[2017-12-21 12:09] jonhue opened #87 "Last update made this a light theme"
With the last update the background color turned white and made the entire syntax theme unusable.

[2018-02-10 00:42] rriemann commented on #87
I have the same problem:

![image](https://user-images.githubusercontent.com/111932/36056304-9d99e894-0e03-11e8-8c99-b336bff2898f.png)

I just installed the syntax theme for the first time.

[2018-03-16 19:22] mindpixel-labs commented on #80
@silvestreh Any update on this? I am still experiencing this issue as well. The Syntax highlighting in PHP is wonky looking. Atom 1.24.1

[2018-04-10 19:17] kylebarron commented on #42
PR submitted

Current:

![image](https://user-images.githubusercontent.com/15164633/38578340-aba2d4b2-3cd1-11e8-9dd3-df37d30a92d8.png)

With this PR:
![image](https://user-images.githubusercontent.com/15164633/38578357-b93e1c80-3cd1-11e8-8376-417f5857169f.png)

[2018-04-11 16:35] kylebarron commented on #42
This can be closed now!

[2018-04-11 18:41] #42 closed

[2018-04-11 18:41] silvestreh commented on #42
Thanks @kylebarron

[2018-06-11 15:34] Vieper commented on #80
Same Issue here. Theme Version: 1.0.8

[2018-10-29 20:37] rob9095 opened #90 "Incorrect JS Syntax Colors"
I don't think this a bug with the repo since I can't replicate it, but this seems like the best place to ask for help.

I've been using Atom Material UI/Material Syntax themes for about 1 year now and all the sudden on one of my machines the material syntax seems to be broken or not working correctly. On my two other machines, I don't have this problem and the syntax is formatted correctly. All pa

[2018-11-01 17:09] rob9095 commented on #90
i just switched to vs code :)

[2018-11-01 17:09] #90 closed, assigned to nobody

[2019-03-13 08:41] dwanl opened #91 "How to set tab bar to purple"
Why is my tab bar green?
![image](https://user-images.githubusercontent.com/33242654/54264829-f1828680-45ae-11e9-8a71-d7d55ceaa34f.png)

[2019-05-22 21:29] arielone opened #92 "atom material syntax installed but not showing up"
Atom material syntax installed but not showing up

[2019-05-22 21:37] silvestreh commented on #92
Sounds like an issue with Atom or your system.

[2019-05-22 21:37] #92 closed, assigned to nobody

[2019-05-22 21:37] silvestreh commented on #91
Wrong repo. You can change these from the UI theme's settings.

[2019-05-22 21:37] #91 closed, assigned to nobody

[2019-05-22 22:31] arielone commented on #92
Thanks for reply.  Got it working.  My system has been a bit buggy so I ran a couple of scans but seems OK.

________________________________
From: Silvestre Herrera <notifications@github.com>
Sent: Wednesday, May 22, 2019 2:37 PM
To: atom-material/atom-material-syntax
Cc: arielone; Author
Subject: Re: [atom-material/atom-material-syntax] atom material syntax installed but not showing up (#92)

So

[2019-10-05 15:40] gloomydumber opened #93 "how to ' left-align'"
![atomd](https://user-images.githubusercontent.com/38835104/66257255-77775080-e7d1-11e9-9f50-ca0a22f6e16b.PNG)

how to align project tab left-align ?
maybe middle-align..? anyway, just want to no indicate subfolder

[2019-10-26 13:52] nlp-tokio opened #94 "font problem"
font of ui cannot be changed when setting atom-material-ui.

[2019-10-26 22:46] houndhubadmin1 opened #95 "Failed to activate the atom-material-syntax theme"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.41.0 x64
**Electron**: 4.2.7
**OS**: Mac OS X 10.15
**Thrown From**: [atom-material-syntax](https://github.com/silvestreh/atom-material-syntax) package 1.0.8

### Stack Trace

Failed to activate the atom-material-syntax theme

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2019-12-11 23:13] GaziSalauddinRANA opened #96 "Din.GaziSalauddinRAA"
![edited_1538788414321](https://user-images.githubusercontent.com/50892969/70668536-11f68300-1c9e-11ea-80a0-513f1d563feb.jpg)

[2019-12-11 23:37] #96 closed

[2020-03-01 08:06] gloomydumber commented on #93
Changed to VSC ⊙﹏⊙∥

[2020-08-04 07:07] realtalk69 opened #99 "fail to connect"

[2020-08-16 14:27] andyzimmerer opened #100 "Verrate a new issue"

[2020-09-09 14:10] nicofraisse opened #101 "Breaks Material-UI theme colors"
While having Atom-Material-UI and Atom-Material-Syntax together, it is not possible to change Atom-Material-UI color scheme:

![image](https://user-images.githubusercontent.com/49971626/92609264-60b06800-f284-11ea-9106-48f8eac0b019.png)

Colors are selected to "Indigo", but nothing changes, the top menu bar stays green, which is the default color for Material-UI. Restarting Atom did not help, as w

[2020-09-25 11:15] gloomydumber commented on #93
File >> stylesheet

add below code to style.less

`.list-tree.has-collapsable-children .list-nested-item > .list-tree > li, .list-tree.has-collapsable-children .list-nested-item > .list-group > li {
    padding-left: 0px;
}`

[2020-09-25 11:17] #93 closed, assigned to nobody

[2020-10-11 03:52] realtalk69 commented on #99
Thanks

[2021-01-13 07:19] Loic-Bonaventura commented on #101
Having the same issue. So far I haven't fixed it.

[2021-06-02 08:23] Yaro-Maro opened #106 "Small issue - the (.=) assignment operator does not color"
Hello. Love this material theme.

This assignment operator does not color. As far as I can tell, it's the only one that doesn't do that.
![Capture](https://user-images.githubusercontent.com/76259373/120448872-437c7600-c38c-11eb-9da6-f3922d33a49a.PNG)

https://www.php.net/manual/en/language.operators.assignment.php

[2021-06-30 11:13] ghost commented on #46
[https://github.com/atom-material/atom-material-syntax/issues/46#issue-190180050]() @raphaelhanneken

[2021-06-30 11:14] ghost opened #107 "[https://github.com/atom-material/atom-material-syntax/issues/46#issue-190180050]() @raphaelhanneken"
[https://github.com/atom-material/atom-material-syntax/issues/46#issue-190180050]() @raphaelhanneken

_Originally posted by @ongweiloon777 in https://github.com/atom-material/atom-material-syntax/issues/46#issuecomment-871312624_

[2021-06-30 14:36] #107 closed, assigned to nobody

[2021-07-01 12:53] ghost opened #108 "[https://github.com/atom-material/atom-material-syntax/issues/46#issue-190180050]() @raphaelhanneken"
[https://github.com/atom-material/atom-material-syntax/issues/46#issue-190180050]() @raphaelhanneken

_Originally posted by @ongweiloon777 in https://github.com/atom-material/atom-material-syntax/issues/46#issuecomment-871312624_

[2021-12-25 05:12] jacobtarango23 opened #111 "Jacob tarango"

[2021-12-25 16:20] #111 closed, assigned to nobody

[2022-04-02 11:43] slotindosat opened #112 "Slot-deposit-dana-tanpa-potongan"
### Situs Judi Slot Deposit via DANA 20 Ribu Tanpa Biaya Potongan 2022

![image](https://user-images.githubusercontent.com/102355433/161381616-554f4043-63ae-4271-a4de-696a29c53220.png)

 [DAFTAR KLIK DISINI
](https://5.188.34.184/)
 [DAFTAR KLIK DISINI
](https://5.188.34.184/)

 [DAFTAR KLIK DISINI
](https://5.188.34.184/)

 [DAFTAR KLIK DISINI
](https://5.188.34.184/)

Selamat Datang Di Situs Jud

[2022-04-02 12:51] #112 closed

[2022-04-02 17:53] #108 closed, assigned to nobody

[2022-04-02 17:53] #99 closed, assigned to nobody

[2022-04-24 08:43] Macias131987 opened #113 "Macias012887"

[2022-05-07 20:03] sabtubetslotgacor opened #114 "Bocoran Pola Slot Hari Ini Anti Rungkat di Jamin Cuan"
**Bocoran Pola Slot Hari Ini Anti Rungkat di Jamin Cuan** - Tahun 2020-2022 bukanlah sebagai tahun yang mudah bukan cuma buat rakyat Indonesia tetapi pula pelosok dunia. Soal ini disebabkan dari suatu epidemi yang menempa dunia yang turunkan ekonomi di seluruhnya negara. Indonesia termaksud jadi negara yang lumayan kuat dengan perkembangan ekonomi yang relative konstan sejak mulai di landa epidemi

[2022-05-11 15:41] slotcash77 opened #115 "Slotpulsa5000 : Info Slot Gacor Via Pulsa 5000 10000 20 Ribu Tanpa Potongan Sekarang Terbaru 2022"
[Slotpulsa5000 : Info Slot Gacor Via Pulsa 5000 10000 20 Ribu Tanpa Potongan Sekarang Terbaru 2022
](https://bit.ly/dewaslottt)

Slot88Win merupakan situs slot pulsa atau [slot pulsa 5000](https://bit.ly/dewaslottt) tanpa potongan judi online24jam 2021 memberikan sulap yang menerima deposit slot pakai pulsa profesional. Anak muda yang semula lebih passion dalam game online mulai melirik game judi